<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.phuongcong.fchat">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.MainActivity" />
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".RegisActivity" />
        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.profile.ProfileActivity"></activity>
        <activity android:name=".ui.main.fragment.chat.ChatActivity" />

        <service android:name=".service.OnlineService" />

        <activity android:name=".ui.chat.FChatActivity"></activity>


        <activity android:name=".ui.main.fragment.chat.GridImageActivity" />
        <activity android:name=".ui.main.fragment.listgroup.chat.ChatGroupActivity"></activity>
    </application>

</manifest>